<a href="https://colab.research.google.com/github/deborahmasibo/Moringa-Core-Modue-2-Week-1-IP/blob/main/Football_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Footbal Prediction

## 1. Defining the Question

### a) Specifying the Question


You have been recruited as a football analyst in a company - Mchezopesa Ltd and tasked to accomplish the task below.

A prediction result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly (include rank in your training).

You have two possible approaches (as  shown below) given the datasets that will be provided

Input: Home team, Away team, Tournament type (World cup, Friendly, Other)

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

### e) Data Relevance

## 2. Reading the Data

In [2]:
# Imports
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from warnings import filterwarnings
filterwarnings('ignore')
%matplotlib inline

In [3]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Accessing working directory
os.chdir('/content/drive/My Drive/Core/Machine Learning/Moringa Core Module 2 Week 1 IP')

Mounted at /content/drive

In [4]:
# Loading the Dataset
fifa = pd.read_csv('fifa_ranking.csv', parse_dates = ['rank_date'])
results = pd.read_csv('results.csv',  parse_dates = ['date'])

## 3. Checking the Data

**Number of records**

In [5]:
# Number of records in the datasets
print(f'FIFA dataset: records = {fifa.shape[0]} and columns = {fifa.shape[1]}')
print(f'Results dataset: records = {results.shape[0]} and columns = {results.shape[1]}')

FIFA dataset: records = 57793 and columns = 16
Results dataset: records = 40839 and columns = 9

**Dataset top preview**

In [6]:
# Previewing the top of our dataset
# FIFA
fifa.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [7]:
# Resuts
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

**Dataset bottom preview**

In [8]:
# Previewing the bottom of our dataset
# FIFA
fifa.tail()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
57788,206,Anguilla,AIA,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2018-06-07
57789,206,Bahamas,BAH,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONCACAF,2018-06-07
57790,206,Eritrea,ERI,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,2018-06-07
57791,206,Somalia,SOM,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,2018-06-07
57792,206,Tonga,TGA,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,OFC,2018-06-07

In [9]:
# Results
results.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
40834,2019-07-18,American Samoa,Tahiti,8,1,Pacific Games,Apia,Samoa,True
40835,2019-07-18,Fiji,Solomon Islands,4,4,Pacific Games,Apia,Samoa,True
40836,2019-07-19,Senegal,Algeria,0,1,African Cup of Nations,Cairo,Egypt,True
40837,2019-07-19,Tajikistan,North Korea,0,1,Intercontinental Cup,Ahmedabad,India,True
40838,2019-07-20,Papua New Guinea,Fiji,1,1,Pacific Games,Apia,Samoa,True

**Checking datatypes**

In [10]:
# Checking whether each column has an appropriate datatype
# FIFA 
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rank                     57793 non-null  int64
 1   country_full             57793 non-null  object
 2   country_abrv             57793 non-null  object
 3   total_points             57793 non-null  float64
 4   previous_points          57793 non-null  int64
 5   rank_change              57793 non-null  int64
 6   cur_year_avg             57793 non-null  float64
 7   cur_year_avg_weighted    57793 non-null  float64
 8   last_year_avg            57793 non-null  float64
 9   last_year_avg_weighted   57793 non-null  float64
 10  two_year_ago_avg         57793 non-null  float64
 11  two_year_ago_weighted    57793 non-null  float64
 12  three_year_ago_avg       57793 non-null  float64
 13  three_year_ago_weighted  57793 non-null  float64
 14  confederation            57793 non-null  object
 15  rank_date                57793 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(3), object(3)
memory usage: 7.1+ MB

In [11]:
# Results dataset
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        40839 non-null  datetime64[ns]
 1   home_team   40839 non-null  object
 2   away_team   40839 non-null  object
 3   home_score  40839 non-null  int64
 4   away_score  40839 non-null  int64
 5   tournament  40839 non-null  object
 6   city        40839 non-null  object
 7   country     40839 non-null  object
 8   neutral     40839 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.5+ MB

No datatypes need to be changed.

## 4. External Data Source Validation

Making sure your data matches something outside of the dataset is very important. It allows you to ensure that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset. External validation can often be as simple as checking your data against a single number, as we will do here.

## 5. Data Preperation

### a.Validation

**Column relevance**

In [12]:
# Checking for irrelevant columns
# FIFA dataset
fifa.columns

Index(['rank', 'country_full', 'country_abrv', 'total_points',
       'previous_points', 'rank_change', 'cur_year_avg',
       'cur_year_avg_weighted', 'last_year_avg', 'last_year_avg_weighted',
       'two_year_ago_avg', 'two_year_ago_weighted', 'three_year_ago_avg',
       'three_year_ago_weighted', 'confederation', 'rank_date'],
      dtype='object')

In [13]:
# Results dataste
results.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

There are no irrelevant columns.

### b. Completeness

In [14]:
# Checking for missing values
# FIFA dataset
fifa.isnull().any().any()

False

In [15]:
# Results dataset
results.isnull().any().any()

False

There are no missing values.

### c. Consistency

In [16]:
# Checking for duplicates
# FIFA dataset
fifa.duplicated().any().any()

True

In [17]:
# Dropping duplicates
fifa.drop_duplicates(inplace = True)
# Checking changes
fifa.duplicated().any().any()

False

In [18]:
# Results dataset
results.duplicated().any().any()

False

### d. Uniformity

In [19]:
# Checking column names
# FIFA dataset
fifa.columns

Index(['rank', 'country_full', 'country_abrv', 'total_points',
       'previous_points', 'rank_change', 'cur_year_avg',
       'cur_year_avg_weighted', 'last_year_avg', 'last_year_avg_weighted',
       'two_year_ago_avg', 'two_year_ago_weighted', 'three_year_ago_avg',
       'three_year_ago_weighted', 'confederation', 'rank_date'],
      dtype='object')

In [20]:
# Results dataset
results.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

The column names are uniform.

### e. Outliers

In [21]:
# Outliers function
def outliers(data, action):
  # IQR
  Q1, Q3, IQR = 0, 0, 0
  outliers = pd.DataFrame()
  # Numerical columns
  numerical = data.select_dtypes(include = ['int64', 'float64'])
  if action == 'view':
    Q1 = numerical.quantile(0.25)
    Q3 = numerical.quantile(0.75)
    IQR = Q3 - Q1
    # Outliers
    outliers = numerical[((numerical < (Q1 - 1.5 * IQR)) |(numerical > (Q3 + 1.5 * IQR))).any(axis=1)]
    print(f'Number of outliers = {outliers.shape[0]}')
    print(f'Percentage = {(outliers.shape[0]/data.shape[0])*100}%')
  elif action == 'remove':
    # Removing outliers
    data_no = data.drop(list(outliers.index))
    # Checking changes
    print(f'New dataset shape: {data.shape}')
    return data_no

In [22]:
 # FIFA dataset
outliers(fifa, 'view')

Number of outliers = 21235
Percentage = 36.76674284922778%

In [23]:
# Results dataset
outliers(results, 'view')

Number of outliers = 5683
Percentage = 13.915619873160459%

Outliers will be retained.

**Brief exploration of the datasets**

In [24]:
# Checking unique years in both datasets
fifa.rank_date.dt.year.unique()

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018])

In [25]:
# Results dataset
results.date.dt.year.unique()

array([1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019])

There are fewer years in the fifa dataset, therefore, some ranks will not be available for some records in the results dataset.

Checking records for selected years in both datasets.

In [26]:
# FIFA dataset - 2015
len(fifa[fifa.rank_date.dt.year == 2015]['country_full'].unique())

209

In [27]:
# Results dataset -2015
len(results[results.date.dt.year == 2015]['country'])

1003

In [28]:
# FIFA dataset - 2018
fifa[(fifa.rank_date.dt.year == 2018) & (results.country == 'Germany')][['country_full', 'rank', 'rank_date']].sort_values('country_full')

Empty DataFrame
Columns: [country_full, rank, rank_date]
Index: []

In [29]:
# Results dataset - 2018
results[(results.date.dt.year == 2018) & (results.country == 'Germany')][['country', 'date', 'tournament']].sort_values('country')

       country       date           tournament
39579  Germany 2018-03-23             Friendly
39646  Germany 2018-03-27             Friendly
39834  Germany 2018-06-08             Friendly
39952  Germany 2018-09-06  UEFA Nations League
40018  Germany 2018-09-09             Friendly
40213  Germany 2018-11-15             Friendly
40273  Germany 2018-11-19  UEFA Nations League

From the results above, the records do not match, therefore, themerged dataset will contain fewer records when an inner join is performed, so as to obtain the rank column, which is only present in the fifa dataset.

In [30]:
# Copy of the FIFA dataset used to obtain the ranks for the away team during merging
fifa2 = fifa.copy()

In [31]:
# Merging of the results dataset to the two fifa dataframes
merged = pd.merge(pd.merge(results,fifa[['rank', 'country_full','rank_date']], 
                           how = 'inner', left_on= ['date', 'home_team'], 
                           right_on= ['rank_date','country_full']), fifa2[['rank', 'country_full','rank_date']], 
                          how = 'inner', left_on= ['date', 'away_team'], 
                          right_on= ['rank_date','country_full'])

# Dataframe shape
merged.shape

(871, 15)

In [38]:
# Merged dataset with all columns in both datasets, with respest to the home team.
# Merging of the results dataset to the two fifa dataframes
merged_complete = pd.merge(pd.merge(results,fifa, 
                           how = 'inner', left_on= ['date', 'home_team'], 
                           right_on= ['rank_date','country_full']), fifa2, 
                          how = 'inner', left_on= ['date', 'away_team'], 
                          right_on= ['rank_date','country_full'])

# Dataframe shape
merged_complete.shape

(871, 41)

In [33]:
# Merged dataframe preview
merged.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,rank_x,country_full_x,rank_date_x,rank_y,country_full_y,rank_date_y
0,1993-08-08,Bolivia,Uruguay,3,1,FIFA World Cup qualification,La Paz,Bolivia,False,59,Bolivia,1993-08-08,22,Uruguay,1993-08-08
1,1993-08-08,Brazil,Mexico,1,1,Friendly,Macei,Brazil,False,8,Brazil,1993-08-08,14,Mexico,1993-08-08
2,1993-08-08,Ecuador,Venezuela,5,0,FIFA World Cup qualification,Quito,Ecuador,False,35,Ecuador,1993-08-08,94,Venezuela,1993-08-08
3,1993-08-08,Guinea,Sierra Leone,1,0,Friendly,Conakry,Guinea,False,65,Guinea,1993-08-08,86,Sierra Leone,1993-08-08
4,1993-08-08,Paraguay,Argentina,1,3,FIFA World Cup qualification,Asuncin,Paraguay,False,67,Paraguay,1993-08-08,5,Argentina,1993-08-08

In [34]:
# Dropping duplicate columns
merged.drop(['country_full_x', 'country_full_y', 'rank_date_x', 'rank_date_y', 'country'], axis = 1, inplace = True)

In [35]:
# Renaming columns
merged.columns.values[-2:] = ['home_tean_rank', 'away_team_rank']
# Confirming changes
merged.head()

,date,home_team,away_team,home_score,away_score,tournament,city,neutral,home_tean_rank,away_team_rank
0,1993-08-08,Bolivia,Uruguay,3,1,FIFA World Cup qualification,La Paz,False,59,22
1,1993-08-08,Brazil,Mexico,1,1,Friendly,Macei,False,8,14
2,1993-08-08,Ecuador,Venezuela,5,0,FIFA World Cup qualification,Quito,False,35,94
3,1993-08-08,Guinea,Sierra Leone,1,0,Friendly,Conakry,False,65,86
4,1993-08-08,Paraguay,Argentina,1,3,FIFA World Cup qualification,Asuncin,False,67,5

In [36]:
# Adding a status column
merged['status'] = ''
# Score difference
difference = merged.home_score - merged.away_score
# Filling the status column (W = win, D = draw and L = loss) with resprect to the home team
merged.loc[(merged.home_score - merged.away_score > 0), 'status'] = 'W'
merged.loc[(merged.home_score - merged.away_score == 0), 'status'] = 'D'
merged.loc[(merged.home_score - merged.away_score < 0), 'status'] = 'L'
# Checking changes
merged.head()

,date,home_team,away_team,home_score,away_score,tournament,city,neutral,home_tean_rank,away_team_rank,status
0,1993-08-08,Bolivia,Uruguay,3,1,FIFA World Cup qualification,La Paz,False,59,22,W
1,1993-08-08,Brazil,Mexico,1,1,Friendly,Macei,False,8,14,D
2,1993-08-08,Ecuador,Venezuela,5,0,FIFA World Cup qualification,Quito,False,35,94,W
3,1993-08-08,Guinea,Sierra Leone,1,0,Friendly,Conakry,False,65,86,W
4,1993-08-08,Paraguay,Argentina,1,3,FIFA World Cup qualification,Asuncin,False,67,5,L

In [40]:
# Second dataset
# Columns
merged_complete.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral', 'rank_x', 'country_full_x',
       'country_abrv_x', 'total_points_x', 'previous_points_x',
       'rank_change_x', 'cur_year_avg_x', 'cur_year_avg_weighted_x',
       'last_year_avg_x', 'last_year_avg_weighted_x', 'two_year_ago_avg_x',
       'two_year_ago_weighted_x', 'three_year_ago_avg_x',
       'three_year_ago_weighted_x', 'confederation_x', 'rank_date_x', 'rank_y',
       'country_full_y', 'country_abrv_y', 'total_points_y',
       'previous_points_y', 'rank_change_y', 'cur_year_avg_y',
       'cur_year_avg_weighted_y', 'last_year_avg_y',
       'last_year_avg_weighted_y', 'two_year_ago_avg_y',
       'two_year_ago_weighted_y', 'three_year_ago_avg_y',
       'three_year_ago_weighted_y', 'confederation_y', 'rank_date_y'],
      dtype='object')

In [42]:
# Dropping unnecessary columns
merged_complete.drop(['country', 'country_full_x', 'country_full_y',
                      'country_abrv_x', 'country_abrv_y', 'rank_date_x', 
                      'rank_date_y' ], axis = 1, inplace =True)

In [43]:
# Checking changes
merged_complete.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'neutral', 'rank_x', 'total_points_x',
       'previous_points_x', 'rank_change_x', 'cur_year_avg_x',
       'cur_year_avg_weighted_x', 'last_year_avg_x',
       'last_year_avg_weighted_x', 'two_year_ago_avg_x',
       'two_year_ago_weighted_x', 'three_year_ago_avg_x',
       'three_year_ago_weighted_x', 'confederation_x', 'rank_y',
       'total_points_y', 'previous_points_y', 'rank_change_y',
       'cur_year_avg_y', 'cur_year_avg_weighted_y', 'last_year_avg_y',
       'last_year_avg_weighted_y', 'two_year_ago_avg_y',
       'two_year_ago_weighted_y', 'three_year_ago_avg_y',
       'three_year_ago_weighted_y', 'confederation_y'],
      dtype='object')

In [44]:
# Renaming columns
merged_complete.rename(columns = {'rank_x':'home_team_rank',
                                  'total_points_x':'home_team_total_points', 
                                  'previous_points_x':'home_team_previous_points',
                                  'rank_change_x':'home_team_rank_change',
                                  'cur_year_avg_x':'home_team_cur_year_avg',
                                  'cur_year_avg_weighted_x':'home_team_cur_year_avg_weighted',
                                  'last_year_avg_x':'home_team_last_year_avg',
                                  'last_year_avg_weighted_x':'home_team_last_year_avg_weighted',
                                  'two_year_ago_avg_x':'home_team_two_year_ago_avg',
                                  'two_year_ago_weighted_x':'home_team_two_year_ago_weighted',
                                  'three_year_ago_avg_x':'home_team_three_year_ago_avg',
                                  'three_year_ago_weighted_x':'home_team_three_year_ago_weighted',
                                  'confederation_x':'home_team_confederation',
                                  'rank_y':'away_team_rank', 'total_points_y':'away_team_total_points',
                                  'previous_points_y':'away_team_previous_points',
                                  'rank_change_y':'away_team_rank_change',
                                  'cur_year_avg_y':'away_team_cur_year_avg',
                                  'cur_year_avg_weighted_y':'away_team_cur_year_avg_weighted',
                                  'last_year_avg_y':'away_team_last_year_avg',
                                  'last_year_avg_weighted_y':'away_team_last_year_avg_weighted',
                                  'two_year_ago_avg_y':'away_team_two_year_ago_avg',
                                  'two_year_ago_weighted_y':'away_team_two_year_ago_weighted',
                                  'three_year_ago_avg_y':'away_team_three_year_ago_avg',
                                  'three_year_ago_weighted_y':'away_team_three_year_ago_weighted',
                                  'confederation_y':'away_team_confederation'}, inplace = True)

In [45]:
# Confirming changes have been made
merged_complete.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'neutral', 'home_team_rank',
       'home_team_total_points', 'home_team_previous_points',
       'home_team_rank_change', 'home_team_cur_year_avg',
       'home_team_cur_year_avg_weighted', 'home_team_last_year_avg',
       'home_team_last_year_avg_weighted', 'home_team_two_year_ago_avg',
       'home_team_two_year_ago_weighted', 'home_team_three_year_ago_avg',
       'home_team_three_year_ago_weighted', 'home_team_confederation',
       'away_team_rank', 'away_team_total_points', 'away_team_previous_points',
       'away_team_rank_change', 'away_team_cur_year_avg',
       'away_team_cur_year_avg_weighted', 'away_team_last_year_avg',
       'away_team_last_year_avg_weighted', 'away_team_two_year_ago_avg',
       'away_team_two_year_ago_weighted', 'away_team_three_year_ago_avg',
       'away_team_three_year_ago_weighted', 'away_team_confederation'],
      dtype='object')

## 6. Exploratory Analysis

### Descriptive Analysis

#### a) Univariate Analysis

##### Categorical columns

In [46]:
categorical = merged.select_dtypes(include = 'object').columns.tolist()

In [47]:
# Ploting the univariate summaries and recording our observations
#

#### Encoding Categorical Columns

In [49]:
# Categorical columns
categorical

['home_team', 'away_team', 'tournament', 'city', 'status']

In [52]:
# Checking unique categories
for cat in categorical:
  print(f'{cat}: {len(merged[cat].unique())}')

home_team: 160
away_team: 159
tournament: 38
city: 399
status: 3

All columns are nominal. Due to the large number of categories, dictvecorizer will be used.

In [ ]:
# Dictvectorizer

#### Multicollinearity Check

In [48]:
# VIF function
def VIF(data):
  # Correlation matrix
  correlation = data.corr()
  # Inverse matrix
  inv_corr = pd.DataFrame(np.linalg.inv(correlation.values), index = correlation.index, columns=correlation.columns)
  return inv_corr

# Function call
VIF(merged)

,home_score,away_score,neutral,home_tean_rank,away_team_rank
home_score,1.186692,0.024591,0.016114,0.338687,-0.545585
away_score,0.024591,1.114007,-0.103656,-0.339373,0.350172
neutral,0.016114,-0.103656,1.015839,0.008354,-0.099092
home_tean_rank,0.338687,-0.339373,0.008354,1.605433,-1.015088
away_team_rank,-0.545585,0.350172,-0.099092,-1.015088,1.771717

All VIFs are lower than 5, therefore, multicollinearity is not an issue.

## 7. Implementing the Solution

In [ ]:
# Implementing the Solution
#

## 8. Challenging the solution

> The easy solution is nice because it is, well, easy, but you should never allow those results to hold the day. You should always be thinking of ways to challenge the results, especially if those results comport with your prior expectation.

In [ ]:
# Reviewing the Solution 
#

## 9. Follow up questions

> At this point, we can refine our question or collect new data, all in an iterative process to get at the truth.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

### c). Did we have the right question?